body {
	
}
.msgBox {
	background-color: deepskyblue;
	border-radius: 10px;
	text-align: center;
	margin: 30px;
	padding: 1em;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
}

#closeBtn {
	float: left;
	background-color: deepskyblue;
	border-radius:5px;
	box-shadow: 2px 2px 10px 0 rgba(0,170,226,0.9);
	padding: 1px 4px 2px 4px;
	opacity: 1;
	color: white;
}
